/* Write your code here. */
body{
  margin: 0px;
}
.bg-container {
  background-color: #0f172a;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 28px;
  margin: 10px;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  max-width: 40%;
}
@media (min-width:768px){
  .img{
    max-width: 70%;
  }
  .heading{
    font-size: 45px;
  }
}
